= simple_form_for(@scraper) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url
    = f.input :schedule
    = f.input :last_check
    = f.input :last_notification
    = f.input :extract
    = f.association :user

  .form-actions
    = f.button :submit
