%h1 Scrapers

-if @scrapers.empty?
  %h2 No Scrapers yet! You want to create new?
-else
  %table.table.table-striped
    %tr
      %th Name
      %th Url
      %th Schedule
      %th Next Check
      %th Last check
      %th Last notification
      %th Last Status
      %th Logs
      %th Notifications
      %th
      %th
    -if @scrapers.present?
      - @scrapers.each do |scraper|
        %tr
          %td= link_to scraper.name, scraper
          %td= scraper.url
          %td= scraper.schedule.humanize.titleize
          %td= humanize_time scraper.next_run_time
          %td= humanize_time scraper.last_check
          %td= humanize_time scraper.last_notification
          %td= raw success_fail(scraper.status)
          %td= link_to 'Logs', logs_path( :params => {:scraper_id => scraper.id})
          %td= link_to 'Notifications', notifications_path( :params => {:scraper_id => scraper.id})
