%h1 Scrapers

%table.table.table-striped
  %tr
    %th Name
    %th Url
    %th Schedule
    %th Last check
    %th Last notification
    %th Extract
    %th User
    %th Logs
    %th Notifications
    %th
    %th
    %th
  -if @scrapers.present?
    - @scrapers.each do |scraper|
      %tr
        %td= link_to scraper.name, scraper
        %td= scraper.url
        %td= scraper.schedule.humanize.titleize
        %td= scraper.last_check
        %td= scraper.last_notification
        %td= scraper.extract
        %td= scraper.user.name
        %td= link_to 'Logs', logs_path
        %td= link_to 'Notifications', notifications_path( :params => {:scraper_id => scraper.id})
