%h2 Scraper: #{@scraper.name}

%table.table.table-striped
  %tr
    %td(width="15%")
      %b
        Name
    %td= @scraper.name
    %td
      %b
        Url
    %td= @scraper.url

  %tr
    %td(width="15%")
      %b
        Target Element
    %td= @scraper.target_element
    %td
      %b
        Schedule
    %td= @scraper.schedule.humanize.titleize

  %tr
    %td
      %b
        Last check
    %td= humanize_time(@scraper.last_check)
    %td
      %b
        Next run time
    %td= humanize_time(@scraper.next_run_time)

  %tr
    %td
      %b
        Last notification
    %td= humanize_time(@scraper.last_notification)
    %td
      %b
        Extract
    %td= @scraper.extract

  %tr
    %td
      %b
        Last status
    %td= raw success_fail(@scraper.status)
    %td
    %td

  %tr
    %td
      %b
        Notifications
    %td=link_to 'Notifications', notifications_path( :params => {:scraper_id => @scraper.id})
    %td
      %b
        Logs
    %td=link_to 'Logs', logs_path( :params => {:scraper_id => @scraper.id})

= link_to 'Edit', edit_scraper_path(@scraper)
\|
= link_to 'Back', scrapers_path
\|
= link_to 'Destroy', @scraper, :method => :delete, :data => { :confirm => 'Are you sure?' }
