%table.table.table-striped
  %tr
    %th{:width => "20%"} 
      %b 
        ATTRIBUTES 
    %th
      %b
        VALUES
  %tr
    %td 
      %b 
        Name
    %td= @scraper.name
  %tr
    %td 
      %b
        Url
    %td= @scraper.url
  %tr
    %td 
      %b
        Target Element
    %td= @scraper.target_element
  %tr
    %td 
      %b
        Schedule
    %td= @scraper.schedule.humanize.titleize
  %tr
    %td 
      %b
        Last check
    %td= @scraper.last_check.present? ? distance_of_time_in_words_to_now(@scraper.last_check) + " ago" : "Never"
  %tr
    %td 
      %b
        Next run time
    %td= next_run_time(@scraper.next_run_time)
  %tr
    %td 
      %b
        Last notification
    %td= @scraper.last_notification.present? ? distance_of_time_in_words_to_now(@scraper.last_notification) + " ago" : "Never"
  %tr
    %td 
      %b
        Extract
    %td= @scraper.extract
  %tr
    %td 
      %b
        User
    %td= @scraper.user.name
  %tr
    %td 
      %b
        Last status
    %td= raw success_fail(@scraper.status)
  %tr
    %td 
      %b
        Notifications
    %td=link_to 'Notifications', notifications_path( :params => {:scraper_id => @scraper.id})
  %tr
    %td 
      %b
        Logs
    %td=link_to 'Logs', logs_path( :params => {:scraper_id => @scraper.id})

= link_to 'Edit', edit_scraper_path(@scraper)
\|
= link_to 'Back', scrapers_path
\|
= link_to 'Destroy', @scraper, :method => :delete, :data => { :confirm => 'Are you sure?' }
