%p
  %b Name:
  = @scraper.name
%p
  %b Url:
  = @scraper.url
%p
  %b Target Element:
  = @scraper.target_element
%p
  %b Schedule:
  = @scraper.schedule.humanize.titleize
%p
  %b Last check:
  = @scraper.last_check
%p
  %b Next run time:
  = next_run_time(@scraper.next_run_time)
%p
  %b Last notification:
  = @scraper.last_notification
%p
  %b Extract:
  = @scraper.extract
%p
  %b User:
  = @scraper.user.name
%p
  %b Last status
  = raw success_fail(@scraper.status)

= link_to 'Edit', edit_scraper_path(@scraper)
\|
= link_to 'Back', scrapers_path
\|
= link_to 'Destroy', @scraper, :method => :delete, :data => { :confirm => 'Are you sure?' }
