%h3 #{@notification.scraper.name} scraper

%hr

= link_to @notification.scraper.url, @notification.scraper.url

%br/

%table
  - @output.each_pair do |k, v|
    %tr
      %td= k
      %td
        -if k == 'src'
          %img(src="#{v.first}")
          %hr
        = v

%hr
