%h1(style="margin: 0 0 10px; font-size: 24px; line-height: 125%; color: #333333; font-weight: normal;")  #{@notification.scraper.name} scraper

%hr

= link_to @notification.scraper.url, @notification.scraper.url

%br/

%table
  - @output.each_pair do |k, v|
    %tr
      %td(width="100%")
        %strong= k.reverse[0..20].reverse
        %br/
        -if k == '@src' or v.first =~ /\.(jpg|png|gif|jpeg)$/
          %img(src = "#{URI::escape(v.first)}")
          %hr
        = simple_format v.join("\n\n")

%hr
