%h3 #{@notification.scraper.name} scraper

%hr

= link_to @notification.scraper.url, @notification.scraper.url

%br/

%table
  - @output.each_pair do |k, v|
    %tr
      %td= k.reverse[0..30].reverse
      %td
        -if k == '@src' or v.first =~ /\.(jpg|png|gif|jpeg)$/
          %img(src = "#{URI::escape(v.first)}")
          %hr
        = v.join("<br/>")

%hr
