%h1 Listing notifications

%table
  %tr
    %th Output
    %th Scraper
    %th Notification type
    %th Sent
    %th
    %th
    %th

  - @notifications.each do |notification|
    %tr
      %td= notification.output
      %td= notification.scraper
      %td= notification.notification_type
      %td= notification.sent
      %td= link_to 'Show', notification
      %td= link_to 'Edit', edit_notification_path(notification)
      %td= link_to 'Destroy', notification, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Notification', new_notification_path
