!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    / BASICS
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Page Poller - Watch web pages for changes and get notified when it changes.
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %section#header.appear
    .navbar.navbar-fixed-top{"data-0" => "line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);", "data-300" => "line-height:60px; height:60px; background-color:rgba(0,0,0,1);", :role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.fa.fa-bars.color-white
          %h1
            %a.navbar-brand{"data-0" => "line-height:90px;", "data-300" => "line-height:50px;", :href => "/"}
              %i.fa.fa-code
              Page Poller
        .navbar-collapse.collapse
          %ul.nav.navbar-nav{"data-0" => "margin-top:20px;", "data-300" => "margin-top:5px;"}
            %li.active
              %a{:href => "/"} Home
            -if current_user.present?
              %li
                = link_to "Scrapers", scrapers_path
              %li
                = link_to "Notifications", notifications_path
              %li
                = link_to "Logs", logs_path
            %li
              %a{:href => "#section-about"} About
            -if current_user.present?
              %li
                = link_to "Sign out", signout_path 
        / /.navbar-collapse
    =render 'layouts/messages'
    -if controller.controller_name == "visitors"
      - if current_user.nil?
        %section.featured
          .container
            .row.mar-bot40
              = yield
      -else
        %section#section-services.section.pad-bot30.bg-white
          .container
            .row.mar-bot40
              = yield
    -else
      / services
      %section#section-services.section.pad-bot30.bg-white
        .container
          .row.mar-bot40
            = yield
  
    %section#footer.section.footer
      .container
        .row.animated.opacity.mar-bot20{"data-andown" => "fadeIn", "data-animation" => "animation"}
          .col-sm-12.align-center
        .row.align-center.copyright
          .col-sm-12
            %p.lead
              Copyright &copy; 2014 
              %a{:href => "http://cuberoot.in"} Cuberoot Software,
              Theme  - by
              %a{:href => "http://bootstraptaste.com"} Bootstraptaste
    %a.scrollup{:href => "#header"}
      %i.fa.fa-chevron-up
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:charset => "utf-8", :type => "text/javascript"}
      var _swell_site_ids = _swell_site_ids || [];
      _swell_site_ids.push('ca23b576');
      (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//df50assd5876f.cloudfront.net/assets/hello-3b9181727ebdc6002c5bb5da48a2257f.js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    %noscript
      %img{:src => "//heyswell.com/v1/hello.gif?sites=ca23b576&javascript=0"}/

        
